@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-slate-700}

h1 {
    margin-bottom: auto;
    grid-column: 1/-1;}

.className { display:flex;
    flex-wrap: nowrap; 
    justify-content : space-around;
position: absolute;
transform: translateZ(0);
}     
      